# fly.toml app configuration file generated for backend-red-wave-6453 on 2026-02-08T21:33:36+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-red-wave-6453'
primary_region = 'bom'

[http_service]
  internal_port = 8181
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
